# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build artefacts
/src-tauri/target
/src-tauri/gen
/build
/dist

# Third party
/public
/src/lib/components/ui
/src/lib/utils.ts
components.json